﻿html {font-size:16px;height:100%;}
body {font-family: 'Open Sans', sans-serif; font-size: 100%;overflow-y:scroll;background-color: #dddddd;height: 100%;}
h2 {font-size:28px;text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);}
h2, p {text-align:center;}
a {outline: 0 !important;}
.container-table {display: table;height: 100%;}
.col-centered {float: none;margin: 0 auto;}
.col-no-pad {padding-left:0px;padding-right:0px;}
.col-no-pad-left {padding-left:0px;}
.col-no-pad-right {padding-right:0px;}
.col-min-pad {padding-left:10px;padding-right:10px;}
.col-lg-12 {overflow:hidden;}
.centered {margin-left: auto;margin-right: auto;}
.form-control {height: 36px;}
.form-group {margin-top: 15px;margin-bottom: 10px;}
section {border-bottom: 1px solid #ccc;background: url(/images/bg-section.png) repeat-x center bottom;}
/* --------------------------------------------------------- */
/* >>> LOGIN SCREEN STYLES <<<
/* --------------------------------------------------------- */
.content-login {display: table-cell;vertical-align: middle;}
.content-login .container-login-small {background: #ffffff;box-shadow: 0px 4px 6px -5px #000000;min-height: 355px;padding: 0px;}
.content-login .login-logo {margin-top:10px;margin-bottom: 10px;text-align:center;}
.content-login .login-copy {font-size:8px;text-align:center;padding-top:15px;}
.content-login .login-error {margin-bottom:10px;font-size:12px;}
.content-login .login-error .form-message {margin-bottom:15px;}
.content-login .col-login-left, .content-login .col-login-right {min-height: 450px;color: #7d7d7d;}
.content-login .col-login-right {padding: 35px 30px 30px 30px;}
.content-login .col-login-right .col-lg-4 {padding-left: 5px;padding-right: 5px;}
.content-login .col-login-error {padding-left: 0px;padding-right: 0px;}