@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800);

/* --------------------------------------------------------- */
/* >>> MOBILE STYLES <<<
/* --------------------------------------------------------- */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	div.form-message.form-error.survey-error-cont {margin-top:25px;margin-bottom:5px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.survey-head-cont label {text-align:left;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.col-min-pad {padding-left:20px;padding-right:20px;}
	div.form-message.form-error.survey-error-cont {margin-top:25px;margin-bottom:5px;}
	
	/* --------------------------------------------------------- */
	/* >>> NAVIGATION STYLES <<<
	/* --------------------------------------------------------- */
	.navbar {height:60px;border-radius:0px;}
	.navbar .container {padding-left:15px;padding-right:15px;}
	.navbar .navbar-logo {height:60px;}
	.navbar .navbar-logo img {height:40px;}
	.navbar .navbar-nav {margin-top:5px;margin-bottom:5px;}
	.navbar .navbar-nav li a {font-size:16px;text-transform:none;font-weight:400;padding:4px 0px;}
	.navbar .navbar-toggle {padding:11px 6px;}
	.navbar .navbar-toggle .icon-bar {width:32px;}
	.navbar .navbar-toggle .icon-bar+.icon-bar {margin-top: 7px;}
	.navbar .menu-label {line-height:58px;}
	.navbar .navbar-collapse {background:rgba(238, 238, 238, .97);margin-left:0px;margin-right:0px;}
	
	/* --------------------------------------------------------- */
	/* >>> ABOUT STYLES <<<
	/* --------------------------------------------------------- */
	.bnr-header {width:32%;position: relative;text-align: center;top: 93%;transform: translateY(-100%);-webkit-transform: translateY(-100%);z-index: 10; margin: 0;padding: 0;}
	.banner {background-size: cover;position: relative;z-index: -1;top: 0px;}
	.about-map {padding:25px 0px 50px 0px;}
	.bnr-about {background: url(/images/bnr-about-m.jpg) no-repeat center center/cover;}
	
	/* --------------------------------------------------------- */
	/* >>> SURVEY STYLES <<<
	/* --------------------------------------------------------- */
	.survey-cont {padding-bottom:50px;}
	.survey-cont .col-ico {text-align:center;}
	.survey-cont .fa.fa-file-text-o {font-size:18px;}
	.survey-cont h2 {padding-left:25px;font-size:24px;}
	.survey-cont .col-md-pad-left {padding-left:15px;}
	.survey-cont .btn {width:100%;margin-top:23px;}
	.survey-cont .col-survey-btn {margin-left:25%;}
	.survey-cont .col-lg-pad-left {padding-left:40px;}
	.survey-cont .survey-list {margin-top:40px;}
	.survey-view-cont h2 {font-size:24px;}
	.survey-view-cont .survey-submit input {width:150px;}
	.survey-head-cont label {text-align:left;}
	.survey-head-cont .form-group {margin-top:0px;}
	.survey-head-cont div {overflow:hidden;}
	.survey-head-cont h2 {margin-bottom:10px;padding-top:30px;}
	.survey-other-cont {margin-top:35px;}
	
	.media-font{font-size:10px;}
	.media-font-2{font-size:8px;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	body {background-color:#ffffff;}
	h2 {font-size:24px;text-align:center;}
	p {font-size:15px;text-align:center;}
	.container {padding:0px;width:100%;}
	.row {margin-left:0px;margin-right:0px;}
	.col-min-pad {padding-left:10px;padding-right:10px;}
	.col-med-pad {padding-left:20px;padding-right:20px;}
	.lrg-marg {margin-top:40px;}
	div.form-message.form-error.survey-error-cont {margin-left: 15px;margin-right: 15px;margin-top: 15px;margin-bottom: 0px;}
	
	/* --------------------------------------------------------- */
	/* >>> LOGIN SCREEN STYLES <<<
	/* --------------------------------------------------------- */
	.content-login .container-login-small {box-shadow:none;}
	.content-login {display:block;}
	.content-login .col-login-error {margin-top:15px;}
	
	/* --------------------------------------------------------- */
	/* >>> NAVIGATION STYLES <<<
	/* --------------------------------------------------------- */
	.navbar {height:48px;}
	.navbar .container {padding-left:15px;padding-right:15px;}
	.navbar .navbar-logo {height:50px;}
	.navbar .navbar-logo img {height:36px;}
	.navbar .navbar-toggle {padding:8px 6px;}
	.navbar .navbar-toggle .icon-bar {width:24px;}
	.navbar .navbar-toggle .icon-bar+.icon-bar {margin-top: 5px;}
	.navbar .menu-label {line-height:50px;}
	
	/* --------------------------------------------------------- */
	/* >>> ABOUT STYLES <<<
	/* --------------------------------------------------------- */
	.bnr-about {background: url(/images/bnr-about-m.jpg) no-repeat center center/cover;}
	.banner, .bnr-cont {height: 275px;}
	.banner {background-size: cover;position: relative;z-index: -1;top: 0px;margin-bottom: 25px;}
	.bnr-header {width:50%;position: relative;text-align: center;top: 88%;transform: translateY(-100%);-webkit-transform: translateY(-100%);z-index: 10; margin: 0;padding: 0;}
	.bnr-header h1, .bnr-header .h1, .bnr-header h1 a, .bnr-header .h1 a {color: #000;text-transform: uppercase;margin: 0;padding: 0;}
	.bnr-header h1, .bnr-header .h1 {font-size: 1.25em;}
	.about-map {padding:0px 0px 50px 0px;}
	.about-map p {padding-bottom:25px;}
	
	/* --------------------------------------------------------- */
	/* >>> SURVEY STYLES <<<
	/* --------------------------------------------------------- */
	.survey-cont {font-size:14px;padding-bottom:25px;padding-top:0px;}
	.survey-cont h2 {padding-bottom:20px;padding-left:15px;font-size:18px;}
	.survey-cont .fa.fa-file-text-o {font-size:18px;}
	.survey-cont .col-lg-pad-left {padding-left:20px;}
	.survey-cont .col-md-pad-left {padding-left:0px;}
	.survey-cont .col-lg-pad-right {padding-right:15px;}
	.survey-cont .col-ico {text-align:center;}
	.survey-cont section.survey .row .row {padding-right:0px}
	.survey-cont .col-ico-su {margin-right:-15px;}
	.survey-cont .btn {margin-top:20px;}
	.survey-cont .btn.btn-survey {float:left;}
	.survey-cont .col-survey-btn {margin-left:25%;}
	.survey-cont .survey-list {margin-top:0px;}
	.survey-view-cont {padding-bottom:25px;padding-top:0px;font-size:14px;}
	.survey-view-cont h2 {padding-bottom:20px;font-size:18px;}
	.survey-view-cont section.survey .survey-options {padding-left: 34px;}
	.survey-view-cont .col-survey-btn {margin-left: 25%;}
	.survey-view-cont .survey-submit input {width:100%;}
	.survey-title-cont {padding:0px;}
	.survey-title-cont h2 {padding-left:15px;}
	.survey-head-cont label {text-align:left;}
	.survey-head-cont .form-group {margin-top:0px;}
	.survey-other-cont .col-pad-right {padding-right:15px;}
	.survey-add-cont .col-pad-right {padding-right:20px;}
	.survey-other-cont {margin-top:35px;}
	
	.media-font{font-size:10px;}
	.media-font-2{font-size:8px;}
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}

@media screen and (min-width: 1200px) {
	.bnr-header h1, .bnr-header .h1 {font-size: 2.5em;}
	.bnr-about {background: url(/images/bnr-about.jpg) no-repeat 35% 100%/cover;}

}

/* --------------------------------------------------------- */
/* >>> Change Bootstrap Mobile Menu Breakpoint <<<
/* --------------------------------------------------------- */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

