﻿body {padding-top: 0px;padding-bottom: 0px;}
.body-content {padding-left: 22px;padding-right: 22px;}
footer {font-size:12px;color:#777;}
.dl-horizontal dt {white-space: normal;}
input,select,textarea {}
.nav-logo > img {height: 50px;margin: 5px 7px;}
.nav-bar {width: 100%;height: 35px;background-color: #1a1b21;}
.navbar {border: 0px;}
.no-pad {padding-left: 0px;padding-right: 0px;}
.order-type {padding:0px 15px;margin-top:15px;}
.order-type div {padding-left:0px;padding-right:0px;margin-top:15px;margin-bottom:15px;}
.order-type div input {height: 50px;}
.order-type div input:focus {outline:none;}
.order-type div:nth-child(1) input {border-radius: 30px 0px 0px 30px;}
.order-type div:nth-child(2) input {border-radius: 0px;}
.order-type div:nth-child(3) input {border-radius: 0px 30px 30px 0px;}
.order-nav-footer .btn {height:44px;width:100%;margin-top:15px;}
.form-group {overflow: auto;}
.form-control {height:44px;padding:6px 14px;}
.breadcrumb {margin-top:15px;margin-bottom:15px;}
.dev-box{
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;

}
select{
    background-color: #fff;
}
