﻿@{
    ViewBag.Title = "Home Page";
}


<style>
    #signature {
        width: 500px;
        height: 130px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border: 2px dotted #000;
    }
    .waiver-CompanyName{
        position: absolute;
        top: 578px;
        left: 343px;
    }
    .waiver-CompanyName-Text{
        width: 273px;
        text-align: center;
        border-bottom: none;
    }
   .waiver-Signature{
        position: absolute;
        top: 571px;
        left: 30px;
    }

</style>
<br /><br /><br /><br /><br /><br />
<script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
<button onclick='$.playSound("http://www.noiseaddicts.com/samples_1w72b820/3724.mp3")'>Knock-Knock</button>
<div id="signature" style="z-index:100;"></div>

<br />
<input type='button' id='click' value='click'>
<input type='button' id='reset' value='Reset'>
<img id="sig">
<div style="position:relative;">
    <img id="waiver" src="~/images/882006.png" />
    <div id="waiver_CompanyName" class="waiver-CompanyName">
        <input id="waiver_CompanyName_Text"  class="waiver-CompanyName-Text" type="text" value="Company Name" />
    </div>
    <div id="waiver_signature" class="waiver-Signature">
        <img id="waiver_signature_image">
    </div>
</div>
<script>
    $(document).ready(function () {
        var products = JSON.parse('@Html.Raw(ViewBag.productpricing)');
        console.log(products);

        var product = alasql("select * from ? where itemnumber = 'C40000-5-HS3-MCD'", [products.productpricing]);
        console.log(product);

        var state = alasql("select state,territory from ? where state = 'CA'", [products.states]);
        console.log(state);

        var salesrep = alasql("select * from ? where salesrep_territory_id = '" + state[0].territory + "'", [products.salesreps]);
        console.log(salesrep);

        var client = new ClientJS();
        var fingerprint = client.getFingerprint();
        console.log(fingerprint);

        var device = client.getDevice(); // Get Device
        console.log(device);

        var storelookup = {};
        storelookup.status = '';
        storelookup.storelookup = {};
        storelookup.storelookup.storenumber = '10561';
        $.ajax({
            type: "POST",
            async: true,
            url: "/Configurator/StoreLookup",
            data: JSON.stringify(storelookup),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (dto) {
                console.log(dto);
            }
        });
        var $sigdiv = $("#signature").jSignature({ 'UndoButton': false, 'color': '#00000', 'lineWidth': '1', 'showLine': false, 'background': "transparent", 'decor-color': 'red' });
        $('#reset').click(function (e) {
            $sigdiv.jSignature('reset');
        });
        $('#click').click(function () {
            var signatureData = $sigdiv.jSignature('getData', 'image');
            var paramList = {
                signatureData: signatureData[1],             
                width: 500,
                height: 200
            };
            //console.log(signatureData[1]);
            $.ajax({
                type: "POST",
                async: true,
                url: "/Configurator/SaveSignature",
                data: JSON.stringify(paramList),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (dto) {
                    console.log(dto);
                    //$('#sig').attr('src', 'data:image/png;base64,' + dto.image);
                    $('#waiver_signature_image').attr('src', 'data:image/png;base64,' + dto.image);
                    //result = msg.d;
                }
            });
        });
    });
    
</script>