﻿@{
    Layout = "~/Views/Shared/_LayoutSignature.cshtml";
}
<style>
    #signature {
        width: 500px;
        height: 130px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border: 2px dotted #000;
    }
</style>
<div>    
    <div style="display:inline-block;"><input id="accept" type="checkbox" /></div><div style="display:inline-block;vertical-align: top;padding-left:5px;"> I understand that checking this box constitutes a legal signature.</div>
</div>
<div id="signature" style="z-index:100;"></div>
<div style="padding-top:5px;">
    <input type='button' id='click' value='click' style="display:none;">
    <input type='button' id='reset' value='Reset' style="display:none;">
    <div style="display:inline-block;">Enter your Full Name: <input type="text" id="signingName" style="width:350px;" /></div>
</div>
<script>
    $(document).ready(function () {
        var $sigdiv = $("#signature").jSignature({ 'UndoButton': false, 'color': '#00000', 'lineWidth': '1', 'showLine': false, 'background': "transparent", 'decor-color': 'red' });

        $('#reset').click(function (e) {
            $sigdiv.jSignature('reset');
            $('#accept').prop('checked', false);
            parent.displaySignatureErrorMsg('');
            parent.clearSignatureImage();
        });
        $('#click').click(function () {
            parent.displaySignatureErrorMsg('');
            if(!$('#accept').is(":checked")){
                parent.displaySignatureErrorMsg('Please check the constitutes a legal signature checkbox.');
                return;
            }
            if ($('#signingName').val() == '') {
                parent.displaySignatureErrorMsg('Please enter your Full Name.');
                return;
            }
            if ($sigdiv.jSignature('getData', 'native').length == 0) {
                parent.displaySignatureErrorMsg('Please draw a signature in the box.');
                return;
            }

            var signatureData = $sigdiv.jSignature('getData', 'image');
            var paramList = {
                signatureData: signatureData[1],
                width: 500,
                height: 200
            };

            $.ajax({
                type: "POST",
                async: true,
                url: "/Signature/SaveSignature",
                data: JSON.stringify(paramList),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (dto) {
                    //console.log(dto);
                    //$('#sig').attr('src', 'data:image/png;base64,' + dto.image);
                    parent.displaySignatureImage(dto.image);

                    //$('#waiver_signature_image').attr('src', 'data:image/png;base64,' + dto.image);
                    //result = msg.d;
                }
            });
        });
    });

    function signatureReset() {
        $('#reset').click();
    }

    function signatureCloseReset() {
        $('#reset').click();
        $('#signingName').val('');
        parent.displaySignatureErrorMsg('');
        parent.clearSignatureImage();
    }

    function signatureSave() {
        $('#click').click();
    }
</script>
