﻿@{
    ViewBag.Title = "Order Form";
}
<style>
    .navbar-inverse {
        background-color: #fff;
        border-color: #080808;
    }

    .modal-header-signature {
        padding: 5px 15px 5px 15px;
        border-bottom: 1px solid #e5e5e5;
    }
</style>
<script type="text/javascript">
    var jsonTradeShowObj = JSON.parse('@Html.Raw(ViewBag.dto)');
</script>
<div style="padding-top:45px;"></div>
@*$('#signature_Iframe')[0].contentWindow.signatureReset();*@
<input type="button" class="btn btn-primary" value="Signature" onclick="$('#signatureModal').modal('show');" />
<input type="button" class="btn btn-primary" value="test" onclick="$('#lookupModal').modal('show');" />

<form action="" name="order-form" id="order-form" class="">

    <!-- Page 1 -->
    <div class="order-step order-step-1">

        <!-- Header Nav -->
        <div class="order-nav-footer">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Billing Information</li>
                    </ol>
                </div>
            </div>
        </div>

        <h2>Billing Information</h2><br />
        <div class="row">
            <div class="form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label for="Order_Number">Order Number</label>
                    <input type="text" class="form-control" id="Order_Number" value="54674" readonly>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4">
                    <label for="lookupbyzip">Zip Code <input name="lookupBy" id="lookupbyzip" style="margin-right:15px;" type="radio" value="zip" /></label><label for="lookupbystore">Store No <input name="lookupBy" id="lookupbystore" type="radio" vlaue="store" /></label>
                    <input type="text" class="form-control" id="Order_BillTo" value="">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="button" id="ownerlookup" class="btn btn-primary" style="margin-top: 5px;" value="Lookup" />
                </div>
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label for="Order_Rep">Sales Rep</label>
                    <select id="Order_Rep" class="form-control">
                        <option value="" disabled selected></option>
                        <option value="Bill Brungard">Bill Brungard</option>
                        <option value="Es Reyes">Es Reyes</option>
                        <option value="Jamal Finley">Jamal Finley</option>
                        <option value="Vicki Miller">Vicki Miller</option>
                    </select>
                </div>-->
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <label for="Order_Contact">Contact Name</label>
                    <input type="text" class="form-control billing" id="Order_Contact" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    <label for="Order_Address">Address</label>
                    <input type="text" class="form-control billing" id="Street_Address" value="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    <label for="Order_Postal">Postal Code</label>
                    <input type="text" class="form-control billing" id="Order_Postal" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label for="Order_City">City</label>
                    <input type="text" class="form-control billing" id="Order_City" value="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label for="Order_Region">State/Region</label>
                    <input type="text" class="form-control billing" id="Order_Region" value="">
                </div>
            </div>
        </div>
    </div>

    <!-- Page 2 -->
    <div class="order-step order-step-2">

        <!-- Header Nav -->
        <div class="order-nav-footer">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" id="1">Billing Information</a></li>
                        <li class="breadcrumb-item active">Order Details</li>
                    </ol>
                </div>
            </div>
        </div>

        <h2>Order Details</h2><br />
        <div class="row store-cont">
            <div class="form-group">
                <div class="col-lg-12">
                    <label for="Store_Number">Store Number</label>
                    <select id="storeNumber" class="dropdown" style="height:26px;width:100%;">
                        <option value="" disabled selected>Select Store</option>
                    </select>

                </div>
            </div>
        </div>

        @*<div class="row order-type">
                <div class="col-lg-4 col-lg-offset-0 col-md-4 col-sm-4 col-xs-4">
                    <input id="orderlist" type="button" class="form-control btn btn-primary" value="Order" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input id="servicelist" type="button" class="form-control btn btn-default" value="Service" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input id="bothlist" type="button" class="form-control btn btn-default" value="Both" />
                </div>
            </div>*@
        <div class="row order">
            <div class="form-group">
                <div class="col-lg-12">
                    @*<div class="row order-product-header">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 3px; padding-left: 15px;">
                                    <label>Category</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 3px; padding-left: 3px;">
                                    <label>Product</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-right: 3px; padding-left: 3px; text-align: center;">
                                    <label>Qty</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 3px; padding-left: 3px; text-align: center;">
                                    <label>Unit Price</label>
                                </div>
                            </div>
                        </div>
                        <div class="row order-product">
                            <div class="form-group">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right: 3px; padding-left: 15px;">
                                    <select id="productCategory" class="dropdown" style="height:26px;width:100%;">
                                        <option value="" disabled selected>Select Category</option>
                                        <option value="hurr">McDonald's ZOOM</option>
                                    </select>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 3px; padding-left: 3px;">
                                    <select id="products" class="dropdown" style="height:26px;width:100%;">
                                        <option value="" disabled selected>Select Product</option>
                                        <option value="hurr">DTOS</option>
                                        <option value="hurr">DTOS with Leaderboard</option>
                                    </select>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-right: 3px; padding-left: 3px;">
                                    <select id='product_amount_ordered' class="dropdown" style="height:26px;width:100%;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 3px; padding-left: 3px;">
                                    <div id="product_price" class="dev-box" style="text-align: center; min-height:26px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row order-product-header">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-right: 3px; padding-left: 15px;">
                                    <label>Discription</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 3px; padding-left: 3px; text-align: center;">
                                    <label>Total</label>
                                </div>
                            </div>
                        </div>

                        <div class="row order-product2-selected">
                            <div class="form-group">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-right: 3px; padding-left: 15px;">
                                    <div id="product_description" class="dev-box" style="text-align:justify; min-height:26px; padding-left: 5px; padding-right: 5px;">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right: 3px; padding-left: 3px;">
                                    <div id="product_total" class="dev-box" style="text-align: center; min-height:26px;"></div>
                                </div>
                            </div>
                        </div>*@

                    <div class="order-product-Filter">
                        <div class="row product-Filter">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label style="width: 100px;">System Type</label>
                                    <input name="systemtype" type="radio" id="systemtypewireless" value="">
                                    <label for="systemtypewireless" style="padding-right: 10px;">Wireless</label>
                                    <input name="systemtype" type="radio" id="systemtypetimer" value="">
                                    <label for="systemtypetimer"style="padding-right: 10px;">Timer</label>
                                    <input name="systemtype"t type="radio" id="systemtypeboth" value="">
                                    <label for="systemtypeboth" name="systemtype" style="padding-right: 10px;">Both</label>
                                </div>
                            </div>
                        </div>
                        <div class="order-product-Filter">
                            <div class="row product-Filter">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label style="width: 100px;">Lane Config</label>
                                        <input name="laneconfig" type="radio" id="laneconfigsingle" value="">
                                        <label for="laneconfigsingle" style="padding-right: 10px;">Single</label>
                                        <input name="laneconfig" type="radio" id="laneconfigtandem" value="">
                                        <label for="laneconfigtandem" style="padding-right: 10px;">Tandem</label>
                                        <input name="laneconfig" type="radio" id="laneconfigdual" value="">
                                        <label for="laneconfigdual" name="laneconfig" style="padding-right: 10px;">Dual</label>
                                        <input name="laneconfig" type="radio" id="laneconfigisc" value="">
                                        <label for="laneconfigisc"  style="padding-right: 10px;">ISC</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-product-Filter">
                            <div class="row product-Filter">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label style="width: 100px;">HS Type</label>
                                        <input name="hstype" type="radio" id="alinone" value="">
                                        <label for="alinone" style="padding-right: 10px;">All-In-One</label>
                                        <input name="hstype" type="radio" id="beltpac" value="">
                                        <label for="beltpac" style="padding-right: 10px;">Belt-Pac</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-product-Filter">
                            <div class="row product-Filter">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label style="width: 100px;">Nbr of HS</label>
                                        <select id='numberofhs' class="dropdown" style="height:26px;width:50px;">
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-product-Filter">
                            <div class="row product-Filter">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label style="width: 100px;">Loops</label>
                                        <input name="loops" type="radio" id="loopssawcut" value="">
                                        <label for="loopssawcut" style="padding-right: 10px;">Sawcut</label>
                                        <input name="loops" type="radio" id="loopsperform" value="">
                                        <label for="loopsperform" style="padding-right: 10px;">Perform</label>

                                        <label style="padding-right: 10px;">Nbr of Loops</label>
                                        <select id='numberofloops' class="dropdown" style="height:26px;width:50px;">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-product-Filter">
                            <div class="row product-Filter">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label style="width: 100px;">ICS</label>
                                        <input name="ics" type="radio" id="icsaio" value="">
                                        <label for="icsaio" style="padding-right: 10px;">AIO</label>
                                        <input name="ics" type="radio" id="icsbphs4" value="">
                                        <label for="icsbphs4" style="padding-right: 10px;">BP HS4</label>
                                        <input name="ics" type="radio" id="icsbphs12" value="">
                                        <label for="icsbphs12" style="padding-right: 10px;">BP HS12</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="order-product-Filter">
                            <div class="row product-Filter">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label style="width: 100px;">Install</label>
                                        <input name="install" type="radio" id="installsinglelane" value="">
                                        <label for="installsinglelane" style="padding-right: 10px;">Single lane</label>
                                        <input name="install" type="radio" id="installduallane" value="">
                                        <label for="installduallane" style="padding-right: 10px;">Dual lane</label>
                                        <input name="install" type="radio" id="installtimer" value="">
                                        <label for="installtimer" name="systemtype" style="padding-right: 10px;">Timer</label>
                                        <input name="install" type="radio" id="installisc" value="">
                                        <label for="installisc" name="systemtype" style="padding-right: 10px;">ISC</label>
                                        <input name="install" type="radio" id="installloop" value="">
                                        <label for="installloop" name="systemtype" style="padding-right: 10px;">Loop</label>
                                        <input name="install" type="radio" id="installaccessory" value="">
                                        <label for="installaccessory" name="systemtype" style="padding-right: 10px;">Accessory</label>
                                        <input name="install" type="radio" id="installselfinstall" value="">
                                        <label for="installselfinstall" name="systemtype" style="padding-right: 10px;">Self Install</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="order-product-Filter">
                        <div class="row product-Filter">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label style="width: 100px;">HME Cloud</label>
                                    <input name="hmecloud" type="radio" id="hmecloudpremium" value="">
                                    <label for="hmecloudpremium" style="padding-right: 10px;">Premium</label>
                                    <input name="hmecloud" type="radio" id="hmecloudapi" value="">
                                    <label for="hmecloudapi" style="padding-right: 10px;">API</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="order-product-Filter">
                        <div class="row product-Filter">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label style="width: 100px;">Service</label>
                                    <input name="service" type="radio" id="serviceema" value="">
                                    <label for="serviceema" style="padding-right: 10px;">EMA</label>
                                    <input name="service" type="radio" id="serviceepi" value="">
                                    <label for="serviceepi" style="padding-right: 10px;">EPI</label>
                                    <input name="servicetext" type="text" id="Order_Item_1" value="">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="order-product-Filter">
                        <div class="row product-Filter">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input name="systemtype" type="radio" id="Order_Item_1" value="">
                                    <label style="width: 100px;">Trade in</label>

                                    <label style="padding-right: 10px;">Trade in Type</label>
                                    <input name="systemtype" type="radio" id="Order_Item_1" value="">
                                    <label style="padding-right: 10px;">3m</label>
                                    <input name="systemtype" type="radio" id="Order_Item_1" value="">
                                    <label style="padding-right: 10px;">Panasonic</label>
                                    <input name="systemtype" type="radio" id="Order_Item_1" value="">
                                    <label style="padding-right: 10px;">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row order-buttons">
                        <div class="form-group">
                            <div class="col-lg-12" style="text-align: center;">
                                <input type="button" id="addtocartbtn" class="form-control btn btn-primary" style="width: 120px;" value="Add to Cart" />
                                <input type="button" id="resetbtn" class="form-control btn btn-default" style="width: 120px;" value="Reset" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div style="position:absolute; top:2px;left:0px;">
                <span class="fa fa-close" style="color:#ff0000"></span>
            </div>*@


        <div class="row order-cont">
            <div class="form-group">
                <div class="col-lg-12">
                    <label for="Order_Item_1">AIO Headset</label>
                    <input type="checkbox" id="Order_Item_1" value="">
                </div>
            </div>
        </div>

        <div class="row service-cont">
            <div class="form-group">
                <div class="col-lg-12">
                    <label for="Service_Item_1">Loop Install</label>
                    <input type="checkbox" id="Service_Item_1" value="">
                </div>
            </div>
        </div>
    </div>

    <!-- Page 3 -->
    <div class="order-step order-step-3">

        <!-- Header Nav -->
        <div class="order-nav-footer">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" id="1">Billing Information</a></li>
                        <li class="breadcrumb-item"><a href="#" id="2">Order Details</a></li>
                        <li class="breadcrumb-item active">Confirmation</li>
                    </ol>
                </div>
            </div>
        </div>

        <h2>Confirmation</h2><br />
        <div class="row">
            <div class="col-lg-12">
                <p>Display Order Details Here.</p>
            </div>
        </div>
    </div>

    <!-- Page 4 -->
    <div class="order-confirm">
        <h2>Your Order has been placed!</h2><br />
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Thank you for your order!</p>
                <p>Your order number is: <strong>54674</strong></p>
            </div>
        </div>
    </div>

    <!-- Footer Nav -->
    <div class="order-nav-footer">
        <div class="row">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                    <input type="button" class="btn btn-primary order-prev-step" value="&laquo; Previous" disabled />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 pull-right">
                    <input type="button" class="btn btn-primary order-next-step" value="Next &raquo;" />
                    <input type="submit" class="btn btn-success order-final-step" value="Place Order" />
                </div>
            </div>
        </div>
    </div>
</form>

<div id="signatureModal" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" style="width:580px;left:0;">
            <div class="modal-content ui-resizable">
                <div class="modal-header-signature" style="background-color: #d9edf7;">
                    <button type="button" class="close" onclick="closeResetsignature()" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="fa fa-pencil"></span> eSignature</h4>
                </div>
                <div class="modal-body text-center" style="padding:5px 5px 0px 5px">
                    <div class="alert alert-info text-center" style="padding: 5px;margin-bottom: 0px;">
                        <iframe id="signature_Iframe" src="Signature" style="width: 556px;height: 195px;"></iframe>
                    </div>
                </div>
                <div class="modal-footer">

                    <div style="display:inline-block;float: left;"><img id="signatureImage"></div>
                    <div id="signaturemsg" style="display:inline-block; color:#ff0000;float: left;"></div>
                    <button type="button" class="btn btn-primary" onclick="$('#signature_Iframe')[0].contentWindow.signatureSave();">Save Signature</button>
                    <button type="button" class="btn btn-default" onclick="$('#signature_Iframe')[0].contentWindow.signatureReset();">Reset</button>
                    @*<button type="button" class="btn btn-default" onclick="$('#signature_Iframe')[0].contentWindow.signatureReset();" data-dismiss="modal">Close</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="message" style="width:75%; min-height:100px;box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2); vertical-align:middle;text-align:center; background-color:#fff; border:1px solid rgba(0, 0, 0, .2);display:none;">
    <div class="modal-header-signature" style="background-color: #d9edf7;">
        <button type="button" class="close" onclick="closeResetsignature()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="fa fa-warning" style="color:red"></span> Warning! Please Correct </h4>
    </div>

    <div style=" padding:50px 10px 50px 10px;">

        <span style="color:#0093D8;" id="msg"></span>
    </div>
</div>

<div id="alerteModal" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content ui-resizable">
                <div class="modal-header-signature" style="background-color: #d9edf7;">
                    <button type="button" class="close" onclick="" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="fa fa-warning" style="color:#ff0000"></span> Warning! Please Correct</h4>
                </div>
                <div class="modal-body text-center" style="padding:5px 5px 0px 5px">
                    <div class="alert alert-info text-center alerteModalMsg" style="padding: 5px;margin-bottom: 0px;">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="lookupModal" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content ui-resizable">
                <div class="modal-header-signature" style="background-color: #d9edf7;">
                    <button type="button" class="close" onclick="" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="fa fa-users" style="color:#fff"></span> Customer Lookup</h4>
                </div>
                <div class="modal-body text-center" style="padding:5px 5px 0px 5px">
                    <div class="alert text-center" style="padding: 5px;margin-bottom: 0px;">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="Order_Number">Order Number</label>
                                    <input type="text" class="form-control" id="Order_Number" value="54674" readonly>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4">
                                    <label for="lookupbyzip">Zip Code <input name="lookupBy" id="lookupbyzip" style="margin-right:15px;" type="radio" value="zip" /></label><label for="lookupbystore">Store No <input name="lookupBy" id="lookupbystore" type="radio" vlaue="store" /></label>
                                    <input type="text" class="form-control" id="Order_BillTo" value="">
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <input type="button" id="ownerlookup" class="btn btn-primary" style="margin-top: 5px;" value="Lookup" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>*@
            </div>
        </div>
    </div>
</div>

